*{
    margin:0;
    padding:0;
}
html, body{
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    height: 100%;
    padding: 0;
    overflow-x: hidden; 
    background-color:#e5e5e5;
    color:#000;
}
/* Header Styles */
header{
    background-color:#fff;
}
/* Hide Responsive Menu */
.responsive-menu{
    display:none;
}
.nav-links-tablet{
    display:none;
    background-color:#002244;
}
/* Main Navigation Styling */
nav{
    width:85%;
    height:inherit;
    background-color:#fff;
    display:flex;
    justify-content: space-between;
    margin:auto;
}
/* Navigation Logo and Links Styling */
.main-nav{
    display:flex;
    justify-content:flex-start;
    height:inherit;
    width:50%;
}
.main-nav .logo{
    padding: 14px 24px;
    border: 1px solid #000;
    background-color: #f8fbfd;
    width:10%;
    height: 99%;
    text-align: center;
    max-height: 24px;
}
.main-nav .logo .fa-image{
    text-align: center;
}

.nav-links-desktop{
    display:flex;
    justify-content:flex-start;
}

ul{
    list-style: none;
}
.nav-links-desktop li{
    padding:16px;
    transition: .002s;
    border-bottom: 3px solid RGBA(0,0,0,0);
}
.nav-links-desktop li:hover{
    background-color: #f9f9f9;
    border-bottom:2px solid #021e41;
}
.nav-links-desktop a{
    text-decoration:none;
    color: #666666;
    font-weight:bold;
    font-size:16px;
}
/* Main Navigation User Account Styling */
.user-container{
    display:flex;
    justify-content: flex-end;
    align-items:center;
    padding:0;
    margin:0;
    width:50%;
}

.news-btn{
    background-color:#021e41;
    color:#fff;
    padding:16px 24px;
    max-height:24px;
    display:flex;
    align-items:center;
    justify-content: center;
}
.news-btn .news-text{
    padding-left:12px;
    font-weight:bold;

}
.circle-bg{
    background-color:#f9f9f9;
    width:30px;
    height:30px;
    display:flex;
    justify-content:center;
    align-items:center;
    border-radius:50%;
    padding:4px;
}
.circle-bg .icon{
    text-align:center;
    line-height:inherit;
}

/* Sub Navigation for User Account Styling*/
.user-subnav{
    overflow:hidden;
    padding-right:16px;
}

#subnav-btn{
    border:none;
    color:#666666;
    display:flex;
    align-items:center;
    font-weight:bold;
    background-color:#fff;
    margin:0;
    padding-right:36px;
}
.user-subnav-content{
    display:none;
    position:absolute;
    width:inherit;
    height:auto;
    z-index: 1;
    padding-top:7px;
}
.user-subnav-content a{
    text-decoration: none;
    color: #666666;
    background-color: #fff;
    padding: 16px;
    display:flex;
    transition:.2s;
}
.user-subnav-content a:hover{
    background-color:#e5e5e5;
}

#dropdown-menu.show-subnav{
    display:block;

}

.subnav-item-logo{
    padding-right:12px;
}
.user-name{
    padding:0 12px;
    display:flex;
    justify-content:center;
    font-weight:bold;
    font-size:16px;
    color:#262628;
}

/* Styling for Tile Container */ 
.tile-container{
    width:100%;
    margin:auto;
    display:flex;
    padding:24px 0;
}
.tile-wrapper{
    width:85%;
    background-color:#fff;
    margin:0 auto;
}
.tile-header{
    display:flex;
    justify-content:space-between;
    padding:24px;
}
.tile-item-container{
    display: flex;
    flex-wrap: wrap;
    width:100%;
    margin-bottom:100px;
}
.tile-item{
    text-align: center;
    margin: 1%;
    width:23%;
    background-color: #f8fbfd;
    transition:.2s;
}
.tile-item-inner{
    padding:16px 0 32px 0;
}
.tile-item:hover{
    background-color:#f1f1f1;
}
.tile-item img{
    max-width: 85%;
}
.tile-item p{
    font-size: 14px;
    padding: 24px 0;
    line-height: 20px;
    transition: .2s;
}

.tile-item a{
    background-color: #fff;
    padding: 12px 16px;
    text-decoration: none;
    color: #002244;
    border: 1px solid #002244;
    margin-bottom: 24px;
}
.tile-item a:hover{
    background-color:#002244;
    color:#fff;
}
/* =========== Responsive Styling for Tablet ===========  */
@media(max-width:1024px)
{
    header{
        background-color:#021e41;
}
/* Main Navigation Styling for Tablet */
nav{
    align-items:center;
    background-color: #021e41;
    padding:16px;
}
/* Hide Main Navigation Logo and Links */
.main-nav .logo{display:none;}
.nav-links-desktop{display:none;}

/* Responsive Menu Population and Styling */
.responsive-menu{
    display:flex;
    flex-direction: row;
    width: 30%;
    align-items: center;
    justify-content: flex-start;
}

.burger-menu{
    color:#fff;
    padding-right:32px;
}
/* Styling for Responsive Navigation Logo */
.responsive-logo{
    padding: 14px 24px;
    border: 1px solid #000;
    background-color: #f8fbfd;
    min-width: 25%;
    height: 99%;
    text-align: center;
    max-height: 24px;
}
/* Hide Responsive Sub Navigation */
.nav-links-tablet{
    display:none;
    overflow:hidden;
}
/* Styling for Responsive Navigation Links */ 
#responsive-subnav.show-subnav-links{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    border-top: 3px solid #fff;
    width: 100%;
    margin: 0;
    height: 3rem;
}
.nav-links-tablet li{
    display: flex;
    text-align: center;
    transition: .2s;
    align-items: center;
    justify-content: center;
    height: inherit;
    flex: 1 1 25%;
    color:#fff;
}
.nav-links-tablet li:hover{
    background-color:#fff;
    border-bottom:1px solid #021e41;
    color:#002244;;
}
.nav-links-tablet a{
    text-decoration:none;
    color:inherit;
}

.user-container{
    width:70%;
}

.user-subnav-content{
    padding-top:25px;
}
#subnav-btn{
    background-color:#021e41;
    color:#fff;
}
.user-name{
    color:#fff;
}
/* Styling for News Button in Responsive Navigation */
.news-btn{
    background-color:transparent;
    position:relative;
    padding:0;
}
.tile-item{
    width: 31%;
}
.tile-item a{
    padding:8px;
}
}
/* Styling for Tile Container */
/* =========== Responsive Styling for Mobile ===========  */
@media (max-width:641px){
    .news-btn{
        display:none;
    }
    #subnav-btn{padding:0;}
    .tile-item{
        width:100%;
    }
}
